<section class='col-6 toEat'>
    <h1>Ready to eat</h1>
    {{#each burger}}
    {{#unless devoured}}
    <p>{{id}}:{{burger_name}}:{{devoured}}</p>
    <button class='devour' data-id="{{id}}" burger_name='{{burger_name}}'>Devour</button>
    {{/unless}}
    {{/each}}
</section>

<section class='
        col-6 devoured'>
    <h1>Devoured</h1>
    {{#each burger}}
    {{#if devoured}}
    <p>{{id}}:{{burger_name}}:{{devoured}}</p>
    {{/if}}
    {{/each}}
</section>